<form>
    <div class="row">
        <div class="small-6 small-centered column">
            <label><b>Username*</b>
                <input ng-model="username" type="text" required>
            </label>
            <label><b>Password*</b>
                <input ng-model="password" type="password" required>
            </label>
            <label><b>First name</b>
                <input ng-model="firstname" type="text">
            </label>
            <label><b>Last name</b>
                <input ng-model="lastname" type="text">
            </label>
            <label><b>Profile picture URL</b>
                <input ng-model="picurl" type="text">
            </label>
            <button ng-click="signup()" class="button small">Register</button>
        </div>
    </div>
</form>

