<html>
  <head>
  	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		
    <title>Signup</title>
    
    <link href="static/signup.css" rel="stylesheet" media="screen">
    <link href="static/freelancer.min.css" rel="stylesheet">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <!-- Custom Fonts -->
		<link href="static/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  
  <body id="page-top" class=index>
  	<!-- Navigation -->
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="#page-top">Movr</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="">Home</a></li>
						<li><a href="login">Login</a></li>
						<li><a href="showsignup">Register</a></li>
						<li><a href="add_movie">Add Movies</a></li>
						<li><a href="commonmovie">Common movies</a></li>
						<li><a href="findsim">Find matches</a></li>
					</ul>
				</div>
			</div>
		</nav>
  
  	<section id="register">
			<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2>Sign up for Movr</h2>
						</div>
					</div>
					
					<div class="row">
		  			<div class="col-lg-8 col-lg-offset-2">
							<form class="form-signup">
								<div class="row control-group">
					      	<div class="form-group col-xs-12 floating-label-form-group controls">
										<label for="inputUsername" class="sr-only">Username</label>
										<input type="text" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" id="name" required data-validation-required-message="Please enter your username.">
										<p class="help-block text-danger"></p>
					      	</div>
			      		</div>
			      		
								<div class="row control-group">
					      	<div class="form-group col-xs-12 floating-label-form-group controls">
										<label for="inputFirstname" class="sr-only">First Name</label>
										<input type="text" name="inputFirstname" id="inputFirstname" class="form-control" placeholder="First Name" id="name" required data-validation-required-message="Please enter your username.">
								     <p class="help-block text-danger"></p>
									</div>
								</div>	
								
								<div class="row control-group">
					      	<div class="form-group col-xs-12 floating-label-form-group controls">
										<label for="inputLastname" class="sr-only">Last Name</label>
										<input type="text" name="inputLastname" id="inputLastname" class="form-control" placeholder="Last Name" id="name" required data-validation-required-message="Please enter your username.">
								     <p class="help-block text-danger"></p>
									</div>
								</div>	
								
								<div class="row control-group">
					      	<div class="form-group col-xs-12 floating-label-form-group controls">
										<label for="inputPassword" class="sr-only">Password</label>
										<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" id="name" required data-validation-required-message="Please enter your username.">
								     <p class="help-block text-danger"></p>
									</div>
								</div>	
								
								<div class="row control-group">
					      	<div class="form-group col-xs-12 floating-label-form-group controls">
										<label for="inputPicurl" class="sr-only">Profile picture URL</label>
										<input type="text" name="inputPicurl" id="inputPicurl" class="form-control" placeholder="URL to profile picture (optional)" id="name" required data-validation-required-message="Please enter your username.">
								     <p class="help-block text-danger"></p>
									</div>
								</div>
 
						</div>	
								
								<br>
								
								<div id="success"></div>
			      			<div class="row">
			      				<div class="form-group col-xs-12">
											<button id="btnSignUp" class="btn btn-success btn-lg" type="submit">Sign up</button>
										</div>
									</div>
								</div>
								<div id="signup-alert" class="alert alert-success" role="alert">Yay</div>
							</form>
						</div>
					</div>
			</div>
    </section>

    <script src="static/freelancer.min.js"></script>
    <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
  </body>
</html>


