<html>
  <head>
  	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
    <title>Signup</title>
    
    <link href="static/signup.css" rel="stylesheet" media="screen">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="static/signup.js"></script>
    
    <!-- Custom Fonts -->
		<link href="static/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  
  <body>
  	<!-- Navigation -->
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand" href="#page-top">Movr</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="home">Home</a></li>
						<li class="active"><a href="home">Home</a></li>
						<li><a href="login">Login</a></li>
						<li><a href="showsignup">Register</a></li>
						<li><a href="add_movie">Add Movies</a></li>
						<li><a href="commonmovie">Common movies</a></li>
						<li><a href="findsim">Find matches</a></li>
					</ul>
				</div>
			</div>
		</nav>
  
  	<section id="register">
			<div class="container">
				  <form class="form-signup">
				  <h2>Sign up for Movr</h2>
				  <h5>Username</h5>
				  <label for="inputUsername" class="sr-only">Username</label>
				  <input type="text" name="inputUsername" id="inputUsername" class="form-control">
				  <h5>First name</h5>
				  <label for="inputFirstname" class="sr-only">First Name</label>
				  <input type="text" name="inputFirstname" id="inputFirstname" class="form-control">
				  <h5>Last name</h5>
				  <label for="inputLastname" class="sr-only">Last Name</label>
				  <input type="text" name="inputLastname" id="inputLastname" class="form-control">
				  <h5>Password</h5>
				  <label for="inputPassword" class="sr-only">Password</label>
				  <input type="password" name="inputPassword" id="inputPassword" class="form-control">
				  <h5>URL to profile picture (optional)</h5>
				  <label for="inputPicurl" class="sr-only">Profile picture URL</label>
				  <input type="text" name="inputPicurl" id="inputPicurl" class="form-control">
				  <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
				  
				  <div id="signup-alert" class="alert alert-success" role="alert">Yay</div>
				  </form>
			</div>
    </section>
  </body>
</html>


